<div class="page">
    <div class="page-main">



 






    <footer class="">


            <ul id="menu" class="text-center">
                <!-- <li class="uli" style="font-weight:600;">Ethnotech @2021</li> -->
                <li class="uli"><button routerLink="terms_condition" target="_blank">Terms & Conditions</button></li>
                <li class="uli"><button routerLink="privacy_policy" target="_blank">Privacy Policy</button></li>
                <!-- <li class="uli"><a href="">Copyright Policy</button></li> -->
              </ul>


    </footer>




    </div>
    <!--<footer class="footer-main" style="margin-left:0 !important;">
        <div class="container">
            <div class="mt-2 text-center">
                Copyright © 2019 <a href="#" class="fs-14 text-primary">Dashlot</a>. Designed by <a href="https://spruko.com/" class="fs-14 text-primary">Spruko Technologies Private Limited</a> All rights reserved.
            </div>
        </div>
    </footer>-->
    <!--<footer class="footer-style w-100">
        <div class="p-2 border-top">
            <div class="p-3 text-center footer-links">
                <a href="#" class="p-3 btn-link text-default">How It Works</a>
                <a href="#" class="p-3 btn-link text-default">About Us</a>
                <a href="#" class="p-3 btn-link text-default">Pricing</a>
                <a href="#" class="p-3 btn-link text-default">Ads Categories</a>
                <a href="#" class="p-3 btn-link text-default">Privacy Policy</a>
                <a href="#" class="p-3 btn-link text-default">Terms Of Conditions</a>
                <a href="#" class="p-3 btn-link text-default">Blog</a>
                <a href="#" class="p-3 btn-link text-default">Contact Us</a>
                <a href="#" class="p-3 btn-link text-default">Premium Ad</a>
            </div>
        </div>


    </footer>-->

</div>
