<div class="page margintop3">
    <div class="">
  
      <!-- container opened -->
      <div class="container">
        <div class="row">
          <div class="col-xl-5 justify-content-center  text-center" style="margin: 5% 25%;display: block;">
            <div class="card padleftright margintop35 borderround11 boxshadow"
              style="width: 600px;margin: 0 auto;display: block;">
  
  
              <form [formGroup]="EmiForm">
                <div class="row">
                  <div class="col-md-12 col-lg-12 pl-0 ">
                    <div class="card-body p-6 about-con pabout">
                      <div class="card-title text-center mb-4">
                        <h2 class="fontweigt700 text-center">
                         Subscription Term </h2>
                      </div>
  
                      <div style="display: flex;width: 100%;">
  
                        <div style="width: 90%;">
                          <select class="form-control select2 w-100 borderround11  mt-4" (change)="SelectedMonth($event)">
                            <option selected disabled>Year</option>
                            <option value="1">1 Year</option>
                            <option value="2">2 Year</option>
                            
                          </select>
                        </div>
  
                        <div class="bd-example-tooltips  tooltip-demo" style="padding-top: 5%;">
                          <i class="fa fa-info-circle"  data-toggle="tooltip" data-placement="top" title="simply dummy text" style="width: 50px;"></i>
                        </div>
  
                      </div>
  
  
  

                      <div (click)="submit()" class="form-footer mt-1 margintop20  padding38">
                        <a class="btn btn-info btn-pill">Submit</a>
                      </div>
  
  
  
  
                    </div>
                  </div>
                </div>
              </form>
            </div>
  
  
          </div>
        </div>
      </div>
  
  
      <!-- container closed -->
    </div>

  </div>
  