<div class="container">
    <div class="bgcolor">
        <div class="pagecenter">
            <div class="logomain">
                <img src="assets/images/media/logo2.png" class="skilogo">
            </div>
            <div class="checkmarkmaindiv" style="margin-top: 68px;">
                <svg class="checkmark" style="width: 150px;height: 150px;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 52 52" style="margin: auto; display: block;"><circle class="checkmark__circle" cx="26" cy="26" r="25" fill="none"/><path class="checkmark__check" fill="none" d="M14.1 27.2l7.1 7.2 16.7-16.8"/></svg>
                <p class="succespara textcenter">Thanks for your registration!</p>
                <!-- <p class="text-dark textcenter">Your refference number is: {{this.user.lead_id}}</p> -->
                <p class="text-dark textcenter">Please use the below link to update the KYC</p>
                <p class="text-dark textcenter">weblink: <a href="https://eduvanz.com/login">https://eduvanz.com/login</a></p>
                <p class="text-dark textcenter">app link: <a href="https://play.google.com/store/apps/details?id=com.eduvanzapplication"> https://play.google.com/store/apps/details?id=com.eduvanzapplication</a></p>
            </div>
  
  
        </div>
  
  
    </div>
  
  </div>
  